/* .myContainer {
	background-image: url("psychicImage3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   

}

.gameDiv {
	background-color: White;
	width: 50%;
	z-index: 1;
	position: absolute;

}*/